<div class="row mx-0 bg-white">
    <div class="col-md-4 text-center">        <span ng-if="!form.photo">
            <div style="width: 80%; margin-top: 5rem; padding: 2rem; border: 2px dashed #ddd; text-align: center; cursor: pointer;" 
                 onclick="document.getElementById('image').click()">
                <i class="fa fa-cloud-upload" style="font-size: 3rem; color: #ccc;"></i>
                <p style="margin-top: 1rem; color: #666;">Click to upload image</p>
            </div>
        </span>        <span ng-if="form.photo">
            <!-- Display image from Cloudinary URL -->
            <img ng-src="{{form.photo}}" style="width: 80%; margin-top: 5rem; max-height: 300px; object-fit: cover; border-radius: 8px;" 
                 alt="Customer Image">
            <!-- Debug info -->
            <div style="margin-top: 10px; font-size: 12px; color: #666;">
                <button type="button" onclick="angular.element(this).scope().debugImage()" class="btn btn-sm btn-outline-info">Debug Photo</button>
            </div>
        </span>
    </div>
    <div class="col-md-8">
        <form class="form p-3">
            <div class="form-group row">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" ng-model="form.username" placeholder="Enter username">
            </div>
            <div class="form-group row">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" ng-model="form.password" placeholder="Enter password">
            </div>
            <div class="form-group row">
                <label class="form-label">Fullname</label>
                <input type="text" class="form-control" ng-model="form.fullname" placeholder="Enter fullname">
            </div>
            <div class="form-group row">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" ng-model="form.email" placeholder="Enter email">
            </div>
            <div class="form-group row">
                <label class="form-label">Photo</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="image"
                        onchange="angular.element(this).scope().imageChanged(this.files)">
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card-header text-center">
    <button ng-click="create()" class="btn btn-primary">
        <i class="fas fa-plus mr-1"></i> Create
    </button>
    <button ng-click="update()" class="btn btn-success">
        <i class="far fa-save mr-1"></i> Update
    </button>
    <button ng-click="delete(form)" class="btn btn-danger">
        <i class="fas fa-trash mr-1"></i> Delete
    </button>
    <button ng-click="reset()" class="btn btn-secondary">
        <i class="fas fa-redo mr-1"></i> Reset
    </button>
</div>